.stagiaires-title{
    margin-top: 40px;
    margin-bottom: 100px;
}

.green{
    background-color: #d4edda;
    border-right:1px solid #c3e6cb;
}

.red{
    background-color: #f8d7da;
    border-right: 1px solid #f5c6cb;
}

.small-td{
    width: 30px;
    transform: rotate(-60deg);
    white-space: nowrap;
}

.table-bordered thead td, .table-bordered thead th{
    border-top: none;
}

table.table-bordered.table{
    border : none;
}

#validate{
    color: white; 
    margin-right: 10px
}

#add{
    color: white;
}

#edit{
    color: white; 
    margin-right: 10px
}